*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-index{
    background-image: url(../img/alexandru-bogdan-ghita-UeYkqQh4PoI-unsplash.jpg);
}
@import './secciones/main-index';
@import './secciones/header';
@import './secciones/footer';
































